<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/jtable-css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Artikli", "Index", "Artikl")</li>
                    <li>@Html.ActionLink("Korisnik", "Index", "Korisnik")</li>
                    <li>@Html.ActionLink("Uloga", "Index", "Uloga")</li>
                    <li>@Html.ActionLink("Korisnici i uloge", "Index", "KorisnikUloga")</li>
                    <li>
                        @Html.DropDownList("Jezik", new List<SelectListItem>()
                   {
                       new SelectListItem(){ Text = "Jezik", Value = ""},
                        new SelectListItem(){ Text = "Srpski", Value = ""},
                        new SelectListItem(){ Text = "Engleski", Value = "en"},
                         new SelectListItem(){ Text = "Italijanski", Value ="it" },


                   }, new { @class = "form-control", @id = "listaJezika" });

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jtable-scripts")
    @{
        var lang = HttpContext.Current.Request.Cookies["Jezik"]?.Value;
    }
    @if (lang == "it")
    {
        @Scripts.Render("~/bundles/jtable-it")
    }
    else if (lang == "")
    {
        @Scripts.Render("~/bundles/jtable-sr")
    }
    else if (lang == "en")
    {
        @Scripts.Render("~/bundles/jtable-en")
    }

    @RenderSection("scripts", required: false)

    <script type="text/javascript">

        $(document).ready(function () {
            $("#listaJezika").change(function () {
                $.post("/Artikl/PromijeniJezik", { lang: $("#listaJezika").val() }, function (result, status) {
                    if (!result.Success) console.log('N');
                    else {
                        window.location.reload();   //refresuj stranicu
                    }

                });
            });
        });
    </script>
</body>
</html>
