@model  IEnumerable<ProdavnicaMVC.Models.ArtiklNaStanjuViewModel>

    @{
        ViewBag.Title = "Create";
        Layout = "~/Views/Shared/_Layout.cshtml";

    }

    <h2>Kreiranje racuna</h2>

    <div class="container">

        <div class="row">
            <!--racun-->
           
            <div class="col-md-6 bg-info" style="min-height:300px" id="droppable">
                <h4>Racun</h4>
                <ul id="listaStavkiNaRacunu"></ul>

            </div>

            <!--artikli-->
            <div class="col-md-6 ">
                <h4>Artikli</h4>
                <ul>
                    @foreach (var item in Model)
                    {
                        <li class="draggable" data-cijena="@item.Cijena" data-artiklid="@item.ArtiklId" data-naziv="@item.Naziv" style="list-style:none">
                            <div class="bg-info">
                                <div class="row" style="padding:5px">
                                    <div class="col-md-6">
                                        <p>@item.Naziv </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="text-right">@item.Cijena </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

<div>
    <p>Ukupno: <snap id="Ukupno">0</snap></p>
</div>

<div>
    <input type="button" value="Sacuvaj"/>
</div>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">

    $(function () {
        $(".draggable").draggable({
            cancel: "a.ui-icon",
            revert: "invalid",
            containment: "document",
            cursor: "move"

        });
        $("#droppable").droppable({
            drop: function (event, ui) {   //ui-  ono sto prenosim

                var trenutnaCijena = Number($("#Ukupno").text());
                var ukupnaCijena = Number(ui.draggable.attr('data-cijena')) + trenutnaCijena;
                $("#Ukupno").text(ukupnaCijena);        

                $("#listaStavkiNaRacunu").append(`<li style="list-style:none" data-cijena="` + Number(ui.draggable.attr('data-cijena')) + `" data-artiklid="` + ui.draggable.attr('data-artiklid') + `" data-naziv="` + ui.draggable.attr('data-naziv') +`">                     
                                <div>
                                    <p>` + ui.draggable.attr('data-naziv') + `<button class="btnX" style="float:right">X</button></p>
                                </div>
                                <div>
                                    <p>Kolicina: <input type="text" /><span style="float:right">Cijena: ` + ui.draggable.attr("data-cijena") + `</span></p>
                                </div>                      
                            </li>`);

                $('#listaStavki').children().last().find('button').on('click', function () {
                    var li = $(this).parent().parent().parent();
                    li.remove();

                });
                ui.draggable.remove();

            }
        });
    });

    function IzracunajCijenu() {
        var cijena = 0;

        $('#listaStavki').children().each(function () {

        });

    };

</script>